<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../plugins/jquery.page/jquery.page.css">
        <link rel="stylesheet" href="../plugins/input_tag/tagsinput.css">
        <link rel="stylesheet" type="text/css" href="../plugins/notify/notifications.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="fixed-top text-center tips_container">
            <div style="position: absolute;left:0;padding-left: 10px"><strong>Contratame.com</strong></div>
            <i class="fas fa-chevron-left arrows_tips" style="margin-right: 10px" onclick="previousTip()"></i>
            <p class="tips"></p>
            <i class="fas fa-chevron-right arrows_tips" style="margin-left: 10px" onclick="nextTip()"></i>
        </div>
        <div class="screen">
            <div>
                <section id="personal" class="page" data-jquery-page-name="1">
                    <div class="container">
                        <div class="row titulo_princ">
                            <div class="col-sm-10 col-xs-10">
                                <h2 class="color_gray">Información Básica</h2>
                            </div>
                            <div class="col-sm-2 col-xs-2 text-right">
                                <h3 class="color_gray">1/4</h3>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10vh">
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="nombres" class="color_gray">Nombres</label>
                                    <input type="text" class="form-control" id="nombres" mandatory onkeyup="validarCampos()" style="text-transform:capitalize">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="apellidos" class="color_gray">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos" mandatory onkeyup="validarCampos()" style="text-transform:capitalize">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="correo" class="color_gray">Correo electrónico</label>
                                    <input type="email" class="form-control" id="correo" mandatory onkeyup="validarCampos()">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="telefono" class="color_gray">Teléfono</label>
                                    <input type="text" maxlength="9" class="form-control" id="telefono" mandatory onkeyup="validarCampos()">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="fnacimiento" class="color_gray">Fecha de Nacimiento</label>
                                    <input type="text" class="form-control" id="fnacimiento" mandatory onkeyup="validarCampos()" date-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="explaboral" style="margin-top: 0vh" class="page" data-jquery-page-name="3" style="display: none">
                    <div class="container">
                        <div class="row titulo_princ">
                            <div class="col-sm-10">
                                <h2 class="color_gray">Experiencia Laboral <p class="mb-0" style="font-size: 15px;display: inline-block;">(No Obligatorio)</p></h2>
                            </div>
                            <div class="col-sm-2 text-right">
                                <h3 class="color_gray">3/4</h3>
                            </div>
                        </div>
                        <div class="row" id="experiencias_container">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-lg-4">
                                <div class="card square text-center new_exp" onclick="openNuevaExperiencia()">
                                    <div class="card-body" style="padding: 20px">
                                        <p style="font-size: 16px;margin:0; margin-bottom: 5px; color:#565555">Agregar Experiencia</p>
                                        <i class="fas fa-plus" style="font-size: 22px;color:#565555"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="expproyectos" style="margin-top: 0vh" class="page" data-jquery-page-name="2" style="display: none">
                    <div class="container">
                        <div class="row titulo_princ">
                            <div class="col-sm-10">
                                <h2 class="color_gray">Proyectos</h2>
                            </div>
                            <div class="col-sm-2 text-right">
                                <h3 class="color_gray">2/4</h3>
                            </div>
                        </div>
                        <div class="row" id="expproyectos_container">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-lg-4">
                                <div class="card square text-center new_exp" onclick="openAgregarProyecto()">
                                    <div class="card-body" style="padding: 20px">
                                        <p style="font-size: 16px;margin:0; margin-bottom: 5px; color:#565555">Agregar Proyectos</p>
                                        <i class="fas fa-plus" style="font-size: 22px;color:#565555"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="exppersonal" style="margin-top: 0vh" class="page" data-jquery-page-name="4" style="display: none">
                    <div class="container">
                        <div class="row titulo_princ">
                            <div class="col-sm-10">
                                <h2 class="color_gray">Cuentanos algo más de ti</h2>
                            </div>
                            <div class="col-sm-2 text-right">
                                <h3 class="color_gray">4/4</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="skills" class="color_gray">Skills o Herramientas</label>
                                    <input type="text" id="skills" value="Reactjs,PHP,Jenkins" data-role="tagsinput">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="idiomas" class="color_gray">Idiomas</label>
                                    <input type="text" id="idiomas" value="Español" data-role="tagsinput">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="links_ref" class="color_gray">Links de Referencia (Git, blogs, Youtube, etc - Separados por comas)</label>
                                    <textarea type="text" class="form-control color_gray" id="links_ref" placeholder="www.github.com, www.myblog.com, etc"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="departamento" class="color_gray">Departamento</label>
                                    <select class="form-control" id="departamento" onchange="changeDepartamento();">
                                        <option value="" selected disabled hidden>Escoge</option>
                                        <option value="01">Amazonas</option><option value="02">Ancash</option><option value="03">Apurimac</option><option value="04">Arequipa</option><option value="05">Ayacucho</option><option value="06">Cajamarca</option><option value="07">Cusco</option><option value="08">Huancavelica</option><option value="09">Huanuco</option><option value="10">Ica</option><option value="11">Junín</option><option value="12">La Libertad</option><option value="13">Lambayeque</option><option value="14">Lima</option><option value="15">Loreto</option><option value="16">Madre De Dios</option><option value="17">Moquegua</option><option value="18">Pasco</option><option value="19">Piura</option><option value="20">Puno</option><option value="21">San Martin</option><option value="22">Tacna</option><option value="23">Tumbes</option><option value="24">Ucayali</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="distrito" class="color_gray">Distrito</label>
                                    <select class="form-control"id="distrito">
                                        <option value="" selected disabled hidden>Escoge</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label for="tcontrato" class="color_gray">Tipo de Contrato</label>
                                    <select class="form-control"id="tcontrato">
                                        <option value="" selected disabled hidden>Escoge</option>
                                        <option value="1">Full-Time</option>
                                        <option value="1">Part-Time</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label class="color_gray">Estudios (No obligatorio)</label>
                                <div class="row" style="margin-top: 5px" id="estudios_container">
                                    <div class="col-sm-6 col-lg-3 col-md-4">
                                        <div class="card square text-center new_exp" onclick="openNuevoEstudio()">
                                            <div class="card-body" style="padding: 20px">
                                                <p style="font-size: 16px;margin:0; margin-bottom: 5px; color:#565555">Agregar Estudios</p>
                                                <i class="fas fa-plus" style="font-size: 22px;color:#565555"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <footer class="footer">
            <button type="button" class="btn btn-primary btn_direccion" id="atras" onclick="atras()" style="float: left;" disabled>Atras</button>
            <button type="button" class="btn btn-primary btn_direccion" id="siguiente" onclick="siguiente()" disabled>Siguiente</button>
        </footer>

        <div class="modal fade" id="modal_bienvenida" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://dummyimage.com/200x200/d4d4d4/000000.jpg"/>
                            <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">Todo empieza con 1 solo click..</p>
                            <p class="color_gray" style="font-size: 14px;">Contrata.me te ayudará a destacar tu perfil en cualquier medio! Recuerda agregar todos los detalles e información y asi las empresas te encontraran más rapido</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px">
                        <div class="text-center" style="width: 100%">
                            <button type="button" class="btn btn-primary" style="width: 48%;height: 48px;font-size: 20px" data-dismiss="modal">Iniciar!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_terminando" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding-top: 15px;">
                    <div class="modal-body">
                        <div class="text-center">
                            <div id="cv_cargando">
                                <div class="d-flex justify-content-center" style="margin-bottom: 30px">
                                    <div class="spinner-border" style="color: #7b3d9f!important;width: 4rem;height: 4rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">Estamos generando tu CV online</p>
                                <p class="color_gray" style="font-size: 14px;">En unos segundos tendras tu CV personalizado y podras compartirlo con las empresas y/o startups</p>    
                            </div>
                            <div id="cv_link" style="display: none">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex justify-content-center" style="margin-bottom: 10px">
                                        <i class="fas fa-link" style="font-size: 100px; color:#6c2794"></i>
                                    </div>
                                </div>
                                <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 6px;">¿Como quisieras que se vea tu link?</p>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">https://www.contrateme/cv/</span>
                                    </div>
                                    <input type="text" class="form-control" id="linkCV" onkeyup="validarLink()">
                                </div>

                                <div class="modal-footer">
                                    <div class="text-center" style="width: 100%">
                                        <button type="button" id="validar_cv" class="btn btn-primary" style="width: 48%;height: 48px;font-size: 20px" onclick="validateCVLink()" disabled>Verificar</button>
                                    </div>
                                </div>
                            </div>
                            <div style="display: none" id="cv_completo">
                                <div class="d-flex justify-content-center" style="margin-bottom: 30px">
                                    <i class="fas fa-thumbs-up" style="font-size: 100px; color:#69b969"></i>
                                </div>
                                <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">Ya esta todo listo!</p>
                                <p class="color_gray" style="font-size: 14px;">Da click en el boton, ve tu nuevo CV online y compartelo!</p>    
                                <div class="modal-footer">
                                    <div class="text-center" style="width: 100%">
                                        <button type="button" id="ver_mi_cv" class="btn btn-primary" style="width: 48%;height: 48px;font-size: 20px" onclick="verMiCv()">Ver mi CV</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_agregar_proyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title color_gray">Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nombre_proyecto" class="color_gray">Nombre</label>
                                    <input type="text" class="form-control color_gray" id="nombre_proyecto">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="puesto_proyecto" class="color_gray">Puesto</label>
                                    <input type="text" class="form-control color_gray" id="puesto_proyecto">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="fcomienzo_proyecto" class="color_gray">Fecha Comienzo</label>
                                    <input type="text" class="form-control color_gray" id="fcomienzo_proyecto" date-mask>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="fterminado_proyecto" class="color_gray">Fecha Terminado</label>
                                    <input type="text" class="form-control color_gray" id="fterminado_proyecto" date-mask>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-push-6"></div>
                            <div class="col-sm-6">
                                <input type="checkbox" class="checkbox-custom" id="actual_proyecto"/>
                                <label class="form-check-label color_gray" for="actual">Actual</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="descripcion_proyecto" class="color_gray">Descripción</label>
                                    <textarea type="text" class="form-control color_gray" id="descripcion_proyecto"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="referencias_proyecto" class="color_gray">Links de Referencia (Separados por comas)</label>
                                    <textarea type="text" class="form-control color_gray" id="referencias_proyecto" placeholder="www.myproject.com, www.gitub.com, etc"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="text-center" style="width: 100%">
                                    <button type="button" class="btn btn-primary" style="width: 100%;height: 48px;font-size: 18px" onclick="agregarProyecto()" id="btn_agregar_proyecto">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_eliminar_proyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://dummyimage.com/100x100/d4d4d4/000000.jpg"/>
                            <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">¿Deseas eliminar el proyecto?</p>
                            <p class="color_gray" style="font-size: 14px;">Recuerda que mientras más proyectos tengas, tiene más oportunidades de que las empresas se fijen en tu perfil</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px; justify-content:center">
                        <div>
                            <button type="button" class="btn btn-cerrar" style="height: 48px;font-size: 20px" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-delete" style="height: 48px;font-size: 20px" onclick="confirmEliminarProyecto()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_nueva_experiencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title color_gray">Agregar Exp. Laboral</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="empresa_experiencia" class="color_gray">Empresa</label>
                                    <input type="text" class="form-control color_gray" id="empresa_experiencia" style="text-transform:capitalize">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="puesto_experiencia" class="color_gray">Puesto</label>
                                    <input type="text" class="form-control color_gray" id="puesto_experiencia">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="fingreso_experiencia" class="color_gray">Fecha Ingreso</label>
                                    <input type="text" class="form-control color_gray" id="fingreso_experiencia" date-mask>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="fsalida_experiencia" class="color_gray">Fecha Salida</label>
                                    <input type="text" class="form-control color_gray" id="fsalida_experiencia" date-mask>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-push-6"></div>
                            <div class="col-sm-6">
                                <input type="checkbox" class="checkbox-custom" id="actual_experiencia"/>
                                <label class="form-check-label color_gray" for="actual_experiencia">Actual</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="herramientas_experiencia" class="color_gray">Herramientas (Separados por comas)</label>
                                    <textarea type="text" class="form-control color_gray" id="herramientas_experiencia" placeholder="PHP, Jenkins, etc"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="text-center" style="width: 100%">
                                    <button type="button" class="btn btn-primary" style="width: 100%;height: 48px;font-size: 18px" id="btn_nueva_experiencia" onclick="agregarExperiencia()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_eliminar_experiencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://dummyimage.com/100x100/d4d4d4/000000.jpg"/>
                            <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">¿Deseas eliminar la Exp. Laboral?</p>
                            <p class="color_gray" style="font-size: 14px;">Recuerda que mientras más proyectos tengas, tiene más oportunidades de que las empresas se fijen en tu perfil</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px; justify-content:center">
                        <div>
                            <button type="button" class="btn btn-cerrar" style="height: 48px;font-size: 20px" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-delete" style="height: 48px;font-size: 20px" onclick="confirmEliminarExperiencia()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_nuevo_estudio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title color_gray">Agregar Estudio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="titulo_estudio" class="color_gray">Titulo</label>
                                    <input type="text" class="form-control color_gray" id="titulo_estudio" style="text-transform:capitalize">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="fecha_estudio" class="color_gray">Fecha Obtención</label>
                                    <input type="text" class="form-control color_gray" id="fecha_estudio" date-mask>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="link_estudio" class="color_gray">Link de Referencia</label>
                                    <input type="text" class="form-control color_gray" id="link_estudio">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="text-center" style="width: 100%">
                                    <button type="button" class="btn btn-primary" id="btn_nuevo_estudio" style="width: 100%;height: 48px;font-size: 18px" onclick="agregarEstudio()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_eliminar_estudio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://dummyimage.com/100x100/d4d4d4/000000.jpg"/>
                            <p class="color_gray" style="margin-top: 20px;font-weight: bold; margin-bottom: 0;">¿Deseas eliminar el Estudio?</p>
                            <p class="color_gray" style="font-size: 14px;">Recuerda que mientras más proyectos tengas, tiene más oportunidades de que las empresas se fijen en tu perfil</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px; justify-content:center">
                        <div>
                            <button type="button" class="btn btn-cerrar" style="height: 48px;font-size: 20px" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-delete" style="height: 48px;font-size: 20px" onclick="confirmEliminarEstudio()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../plugins/jquery.page/jquery.page.min.js"></script>
    <script src="../plugins/input_tag/tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="../plugins/notify/notifications.js"></script>
    <script src="../js/generate/ubigeo.js"></script>
    <script src="../js/generate/template.js"></script>
    <script src="../js/generate/call.js"></script>
    <script src="../js/generate/generate.js"></script>
</html>