<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/first.css">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="row" style="padding-top: 10px;padding-bottom: 10px">
                    <div class="col-sm-4 text-center margin_auto">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="items_header" style="margin: 0;" onclick="abrirIngresar()">Ingresar</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="items_header" style="margin: 0;">Nosotros</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="items_header" style="margin: 0;" onclick="redirigir('cv.html')">Ejemplos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="https://dummyimage.com/200x50/d4d4d4/000000.jpg">
                    </div>
                    <div class="col-sm-4 text-right margin_auto">
                        <i class="fab fa-linkedin items_header red_social" style="margin-right: 6px"></i>
                        <i class="fab fa-facebook-square items_header red_social" style="margin-right: 6px"></i>
                        <i class="fab fa-instagram items_header red_social"></i>
                    </div>
                </div>
            </div>
              
        </header>
        <section class="body">
            <div class="vert_middle">
                <div class="text-center">
                    <img src="https://dummyimage.com/100x150/d4d4d4/000000.jpg"/>
                </div>
                <div class="text-center" style="margin-top: 40px">
                    <p class="title_one">Crea tu CV online, compartela y recibe propuestas de miles de Empresas y Startups registradas</p>
                </div>
                <div class="text-center" style="margin-top: -12px">
                    <p class="title_two">Te ayudaremos a que las Empresas y/o Startups vean tu perfil, se contacten contigo y te contraten</p>
                </div>
                <div class="text-center" style="margin-top: 40px">
                    <button type="button" class="btn btn-primary btn_empezar" style="height: 60px;" onclick="redirigir('index.html')">Empezar!</button>
                </div>
            </div>
            
        </section>

        <section class="numeros" style="background-color: #f0e9f4; padding-top: 50px; padding-bottom: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-bottom: 40px" class="text-center">
                            <p class="mb-0" style="font-size: 25px;color: #444343;"><strong>Nuestra meta</strong></p>
                            <p class="color_gray">Ayudanos a llegar a la meta y obtener beneficios</p>
                        </div>
                        <div class="text-center">
                            <p class="color_gray">Queremos llegar a los <strong>500 programadores registrados</strong> y publicitar la marca en más empresas, 
                                asi dandote la oportunidad de obtener trabajo en muchas de las <strong>Empresas y/o Startups</strong> registradas. Ademas darte <strong>beneficios</strong> por ser uno de los primeros programadores registrados</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="works" style="padding-top: 50px; padding-bottom: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-bottom: 40px" class="text-center">
                            <p class="mb-0 color_gray" style="font-size: 25px;color: #444343;"><strong>¿Como funciona?</strong></p>
                            <p class="color_gray">Conoce como funciona y registrate</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div style="margin-bottom: 30px">
                            <img src="https://dummyimage.com/100x100/d4d4d4/000000.jpg"/>
                        </div>
                        <div style="margin-top: 15px">
                            <p class="mb-0 color_gray" style=""><strong>Para Programadores</strong></p>
                            <p class="mb-0 color_gray" style="font-size: 14px">Te ayudaremos a conseguir un puesto laboral en base a tus experiencias, puede ser proyectos de universidad o de trabajo. Nos interesa que te desarrolles laboralmente</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div style="margin-bottom: 30px">
                            <img src="https://dummyimage.com/100x100/d4d4d4/000000.jpg"/>
                        </div>
                        <div style="margin-top: 15px">
                            <p class="mb-0 color_gray" style=""><strong>Para Empresas y Startups</strong></p>
                            <p class="mb-0 color_gray" style="font-size: 14px">Te ayudaremos en conseguir el mejor perfil para tu empresa y/o startup en base a sus experiencias</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="numeros" style="background-color: #f0e9f4; padding-top: 40px; padding-bottom: 40px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-bottom: 40px" class="text-center">
                            <p class="mb-0 color_gray" style="font-size: 25px;"><strong>Nuestros números al día de hoy</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <p style="font-size: 50px" class="mb-0 color_gray">+200</p>
                            <p class="mb-0 color_gray">Programadores registrados en nuestro sistema y con beneficios coorporatibos</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <p style="font-size: 50px" class="mb-0 color_gray">+15</p>
                            <p class="mb-0 color_gray">Empresas y/o Startups confian en nuestro sistema y consiguen el perfil deseado</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <p style="font-size: 50px" class="mb-0 color_gray">100%</p>
                            <p class="mb-0 color_gray">Programadores consiguieron trabajo en menos de 2 semanas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center" style="padding-bottom: 40px; padding-top: 40px">
                            <p class="mb-0" style="color: #807e7e">©2019 Contratame</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal fade" id="modal_ingresar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="modal-body">
                        <div>
                            <div class="text-center" style="margin-bottom: 15px">
                                <img src="https://dummyimage.com/200x100/d4d4d4/000000.jpg"/>
                            </div>
                            <div class="form-group">
                                <label for="correo" class="color_gray">Correo Electronico</label>
                                <input type="text" class="form-control" id="correo">
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="color_gray">Contraseña</label>
                                <input type="password" class="form-control" id="contrasena">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px">
                        <div class="text-center" style="width: 100%">
                            <button type="button" class="btn btn-primary" style="width: 100%;height: 48px;font-size: 20px" data-dismiss="modal">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function abrirIngresar(){
            $('#modal_ingresar').modal('toggle');
        }

        function redirigir(url){
            location.href = url;
        }
    </script>

</html>