<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/cv.css">
    </head>
    <body>
        <div class="fixed-top text-center tips_container">
            <div style="position: absolute;left:0;padding-left: 10px"><strong>Contratame.com</strong></div>
            <i class="fas fa-chevron-left arrows_tips" style="margin-right: 10px" onclick="previousTip()"></i>
            <p class="tips"></p>
            <i class="fas fa-chevron-right arrows_tips" style="margin-left: 10px" onclick="nextTip()"></i>
        </div>
        <div class="container container_principal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 flexbox">
                                    <div style="height: 100px; width: 100px; background-color: #ef9090; border-radius: 57px;font-size: 35px" class="flexbox">
                                        <p style="color:white;margin-top: 15px">RV</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text_center_first">
                                    <p class="first_nombre d-inline-block">Ricardo Edgar</p>
                                    <p class="mb-0 d-inline-block">Vasquez Perez</p>
                                    <p class="mb-0"><strong>Android Developer</strong></p>
                                    <p class="first_direccion">La Molina, Lima</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text_center_first">
                                    <p class="mb-0">Edad: 24 años</p>
                                    <p class="mb-0">Idiomas: Español e Ingles</p>
                                    <p class="mb-0">Tipo Contratp: Full-Time</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 flexbox">
                                    <button type="button" class="btn btn-primary btn_invitar">Contactar</button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <p class="mb-0 first_contactos d-inline-block">Telefono: <strong style="cursor: pointer;text-decoration: underline;">982278229</strong></p>
                                    <p class="mb-0 first_contactos d-inline-block">Correo: <strong style="cursor: pointer;text-decoration: underline;">ricardo.vasquez.pe@gmail.com</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="card-title d-inline-block">Skills</p>
                                            <span class="badge badge-primary">
                                                <i class="fas fa-infinity"></i> 10
                                            </span>
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="badge badge-primary skills">
                                                Reactjs
                                            </span>
                                            <span class="badge badge-primary skills">
                                                Android
                                            </span>
                                            <span class="badge badge-primary skills">
                                                MongoDB
                                            </span>
                                            <span class="badge badge-primary skills">
                                                PHP
                                            </span>
                                            <span class="badge badge-primary skills">
                                                AWS
                                            </span>
                                            <span class="badge badge-primary skills">
                                                Mysql
                                            </span>
                                            <span class="badge badge-primary skills">
                                                PostgreSQL
                                            </span>
                                            <span class="badge badge-primary skills">
                                                Jenkins
                                            </span>
                                            <span class="badge badge-primary skills">
                                                Docker
                                            </span>
                                            <span class="badge badge-primary skills">
                                                Kubernetes
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="card-title d-inline-block">Links</p>
                                            <span class="badge badge-primary">
                                                <i class="fas fa-share-alt"></i> 5
                                            </span>
                                        </div>
                                        <div class="col-sm-12">
                                            <p class="mb-0 links" style="cursor: pointer">https://github.com/ricardovasquezpe/reports365</p>
                                            <p class="mb-0 links" style="cursor: pointer">https://github.com/ricardovasquezpe/reports365</p>
                                            <p class="mb-0 links" style="cursor: pointer">https://github.com/ricardovasquezpe/reports365</p>

                                            <div class="text-center" style="margin-top:10px">   
                                                <p class="mb-0 d-inline-block expandir" style="cursor: pointer">Expandir</p>
                                                <i style="cursor: pointer;" class="fas fa-chevron-down expandir_icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-4">
                            <div class="card">
                                <div class="card-body flexbox">
                                    <button type="button" class="btn btn-primary">Descargar CV</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-top: 15px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-title d-inline-block">Proyectos</p>
                                    <span class="badge badge-primary">
                                        <i class="far fa-folder"></i> 3
                                    </span>
                                </div>
                                <div class="col-sm-12" style="font-weight: bold">
                                    <p class="d-inline-block">ePaisa</p> <p class="d-inline-block">(Ene 2019 - Presente)</p> - <p class="d-inline-block">Android Developer</p>
                                </div>
                                <div style="padding-left: 30px;font-size: 14px;width: 100%">
                                    <p style="margin-bottom: 5px;font-weight: bold">Descripción</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                                <div style="padding-left: 30px;font-size: 14px;width: 100%">
                                    <strong><p style="margin-bottom: 5px;">Referencias</p></strong>
                                    <p class="mb-0" style="cursor: pointer;text-decoration: underline;">https://github.com/ricardovasquezpe/reports365</p>
                                    <p class="mb-0" style="cursor: pointer;text-decoration: underline;">https://github.com/ricardovasquezpe/reports365</p>
                                    <p class="mb-0" style="cursor: pointer;text-decoration: underline;">https://github.com/ricardovasquezpe/reports365</p>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top:10px">   
                                <p class="mb-0 d-inline-block expandir" style="cursor: pointer">Expandir</p>
                                <i style="cursor: pointer;" class="fas fa-chevron-down expandir_icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="card-title d-inline-block">Exp. Laboral</p>
                                            <span class="badge badge-primary">
                                                <i class="fas fa-city"></i> 2
                                            </span>
                                        </div>
                                        <div class="col-sm-12" style="font-weight: bold">
                                            <p class="d-inline-block">IBM sac</p> <p class="d-inline-block">(Ene 2019 - Presente)</p>
                                        </div>
                                        <div style="padding-left: 30px;font-size: 14px;width: 100%">
                                            <p style="margin-bottom: 5px;font-weight: bold">Funciones</p>
                                            <ul>
                                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</li>
                                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</li>
                                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</li>
                                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno</li>
                                            </ul>
                                        </div>
                                        <div style="padding-left: 30px;font-size: 14px;width: 100%">
                                            <p style="margin-bottom: 5px;font-weight: bold">Lenguajes de programación o Herramientas</p>
                                            <ul>
                                                <li>Mysql</li>
                                                <li>MongoDB</li>
                                                <li>Pentaho</li>
                                                <li>Scrum</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-top:10px">   
                                        <p class="mb-0 d-inline-block expandir" style="cursor: pointer">Expandir</p>
                                        <i style="cursor: pointer;" class="fas fa-chevron-down expandir_icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="card-title d-inline-block">Estudios</p>
                                            <span class="badge badge-primary">
                                                <i class="fas fa-graduation-cap"></i> 2
                                            </span>
                                        </div>
                                        <div class="col-sm-12" style="font-weight: bold">
                                            <p class="d-inline-block">Scrum Master</p> <p class="d-inline-block">(Ene 2019)</p>
                                        </div>
                                        <div style="padding-left: 30px;font-size: 14px;width: 100%">
                                            <p style="margin-bottom: 5px;font-weight: bold">Links</p>
                                            <p class="mb-0" style="cursor: pointer;text-decoration: underline;">https://github.com/ricardovasquezpe/reports365</p>
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-top:10px">   
                                        <p class="mb-0 d-inline-block expandir" style="cursor: pointer">Expandir</p>
                                        <i style="cursor: pointer;" class="fas fa-chevron-down expandir_icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var tips = 
        ["Más de 1000 developers registrados en contratame",
        "Busca programadores en base a sus experiencias y skills",
        "A menudo los mejores perfiles son los que mas proyectos y skills tienen",
        "Este es un espacio exclusivamente para empresas que buscan programadores"];

        $(".tips").text(tips[0]);
        var index_tip = 0;
        function nextTip(){
            console.log("hola")
            clearInterval(tipsInterval);
            tipsInterval = setInterval(moveItem,10000);
            if(index_tip == tips.length - 1){
                index_tip = 0;
                $(".tips").text(tips[index_tip]);
                return;
            }
            index_tip++;
            $(".tips").text(tips[index_tip]);
        }

        function previousTip(){
            clearInterval(tipsInterval);
            tipsInterval = setInterval(moveItem,10000);
            if(index_tip == 0){
                index_tip = tips.length - 1
                $(".tips").text(tips[index_tip]);
                return;
            }
            index_tip--;
            $(".tips").text(tips[index_tip]);
        }

        var tipsInterval = null;
        function moveItem() {
            nextTip();
        }
        $(document).ready(function () {
            tipsInterval = setInterval(moveItem,12000);
        });
    </script>
</html>